/* Custom variables */
$theme-color: #fd8c45;
$text-color: #323a44;
$text-color-secondary: #454b54;
$text-grey: #94a1b2;
$divider: #a5a5a5;
$lighter-grey: #ccc;
$darker-grey: #666;
$smoky-white: #eaeaea;
$heart: #ef300e;
