/* Dark variables */
$theme-color: #FF851C;
$text-color: #313842;
$text-color-secondary: #47515E;
$text-grey: #8492A5;
$divider: #7A7979;
$lighter-grey: #ccc;
$darker-grey: #666;
$smoky-white: #E8E8E8;
$heart: #D63D22;
