/* Orange variables */
$theme-color: #000000;
$text-color: #000000;
$text-color-secondary: #000000;
$text-grey: #000000;
$divider: #000000;
$lighter-grey: #ccc;
$darker-grey: #666;
$smoky-white: #000000;
$heart: #000000;
