/* Orange variables */
$theme-color: #FF4F00;
$text-color: #303742;
$text-color-secondary: #4F5968;
$text-grey: #9aa6b7;
$divider: #515151;
$lighter-grey: #ccc;
$darker-grey: #666;
$smoky-white: #e8e8e8;
$heart: #fa7a69;
